 li {
   list-style-type: none;
}



.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 65px;
  margin-top: 40px;

}

.card-container {
  padding-bottom: 8px;
}


