li {
  list-style-type: none;
}

button {
  margin-bottom: 40px;
}

.brands-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px; 
  padding: 20px; 
  padding-left: 200px !important;
  max-height: 100%;
}