


.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ef9dec; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 340px;
    width: 100%; 
    color: white;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px; 
    padding: 20px;

  } 

  a {
    color: white !important;
  }