.container {
    display: flex !important;
    flex-direction: row !important;
}

.help {
    flex-direction: column;
}

.info {
    flex-direction: column;

}

.customer {
    flex-direction: column;
}


.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121825; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%; 
    color: white;
  } 

  a {
    color: white !important;
  }