.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fc97de; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 100%; 
} 

.navbar-brand {
  
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;  
}

#logo-image {
  height: 42px; 
  width: 39px; 
  margin-right: 10px; 
  align-items: left;
  justify-content: left;
}

