.nav-links {
  list-style: none;
  align-items: center;
  display: flex;
  margin: 0; 
  padding: 0; 
}

.nav-links li {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 12px;
  transition: color 0.3s ease;
  padding: 10px; 
}

.nav-links a:hover {
  color: #3c3c3a; 
}

.nav-links a.active {
  color: #5b5953; 
  font-weight: bold;
}