li {
    list-style-type: none;
}

button {
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    grid-gap: 16px;
    margin-top: 40px;

}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-list-container {
   display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px; 
    padding: 20px; 
    padding-left: 400px !important;
    max-height: 100%;
    width: 100%;
    height: 4000px;
}

.products-container {
display: flex;
flex-direction: row;
}


.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .submit-form {
    max-width: 300px;
    margin: auto;
  }
  
  .edit-form {
    max-width: 300px;
    margin: auto;
  }

  .product {
    display: none;
  }

  .about {

  }
  

  .cards {
    height: 1000px;
    padding-bottom: 40px;
  }