.card-container {
    width: 240px;
    height: 400px;
    background-color: white;
    border: solid rgb(191, 187, 187) 1px;
    
}

img {
    height: 200px;
    width: 240px;
}

.text {
    padding-left: 40px;
    padding-top: 20px;
    color: black;
}

.card-button {
    padding-bottom: 40px !important;
}

.view-more-button {
    padding-top: -80px !important;
}