.card-container {
    width: 240px;
    height: 340px;
    background-color: white;
    border: solid rgb(191, 187, 187) 1px;
    
}

.card-container:hover {
  background-color: #a55c9a;
  color: white;
}

img {
    height: 200px;
    width: 240px;
}

.text {
    color: black;
}

.card-button {
    padding-bottom: 40px !important;
}

.view-more-button {
    padding-top: -80px !important;
}